@page
@model DonateModel
@{
    ViewData["Title"] = "Tutorial Streaming - Donate";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>All Donations go to making this site better, increasing bandwith, more videos, and all the goodies you love..</p>
<address>
    <abbr title="Bitcoin Donation Address">Bitcoin:</abbr>
    102301oaskdoakooa <br />
    <abbr title="Ethereum Donation Address">Ethereum:</abbr>
    102301oaskdoakooa
</address>

<address>
    <strong>More Information:</strong> <a href="mailto:hello@example.com">hello@example.com</a><br />
</address>
